<div class="tweets-header">
  <img class="tweets-image" src="{{tweet.user.profile_image_url}}">

  <a href="{{tweet.user.url}}" class="tweets-user-name">{{tweet.user.name}}
    <span class="tweets-screen-name">@{{tweet.user.screen_name}}</span></a>
</div>
<div class="tweets-text">
  <p>{{tweet.text}}</p>
</div>
<div class="tweets-media">
</div>
<div class="tweets-actions">
  <a href="#"><i class="icon fa fa-mail-reply"></i></a>
  <a href="#"><i class="icon fa fa-retweet"></i></a>
  <a href="#"><i class="icon fa fa-star"></i></a>
</div>
